.acc{
  font-size: 16px;
  font-weight: bold;
  /* margin-top: 10px; */
}
.navbar{
  background: rgba(253, 253, 253, 0.3);
  color: white;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
  color: orangered;
  transition: 0.5s linear;
}

.navbar-brand {
  padding-top: var(--bs-navbar-brand-padding-y);
  padding-bottom: var(--bs-navbar-brand-padding-y);
  margin-right: var(--bs-navbar-brand-margin-end);
  font-size: var(--bs-navbar-brand-font-size);
  color: rgb(255 255 255 / 90%);
  text-decoration: none;
  white-space: nowrap;
}
.navbar-brand:focus, .navbar-brand:hover {
  color: orangered;
}